<script src="js/jquery-1.7.2.min.js"></script>
<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>
<script src="js/jquery.jrumble.1.3.min.js"></script> 
<script type="text/javascript" src="js/jquery.jrumble.1.3.js"></script>
<div class="container">
  <div class="container1">
  <%= render "shared/search_nav" %>
  <% if @gifs_array.present?  %>
  <div class="gif_container">
    <div class="gifs">
    <% @gifs_array.each do |picture| %>  
    <input type="image" id="<%= picture[:gif_id] %>" data-static-src="<%= picture[:gif_static] %>" data-motion-src="<%= picture[:gif_motion] %>" src="<%= picture[:gif_static] %>" name="saveForm" class="rumble" class="my_popup_open" data-clipboard-text="<%= picture[:gif_motion] %>" height="200" width="300" style="PADDING-LEFT: 10px; PADDING-TOP: 10px"> 
    <% end %>
  <% end %>	
</div>
<%= javascript_include_tag 'search' %>

<!-- $(function(){  
        $(".rumble").jrumble({
          speed: 100
        });
        $('.rumble').mouseenter(function(){ 
          var self = $(this);
          self.trigger('startRumble');
          setTimeout(function() { 
        });
              self.trigger('stopRumble'); 
          }, 2000000000);
      }); -->
