
<style>
body { 
  background: url(<%= @background_gif[:background] %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
</style>
<img class="logo" src="/images/cool_logo1.png">
<div class="text_field">
<%= simple_form_for @search, url: "/" do |f| %>
  <%= f.input :gif_search_query, label: false %>
  </div>
<div class="submit">  
  <%= f.button :submit, 'Find Gifs', :class => 'btn-danger' %>
<% end %>
<button type="button" class="btn btn-danger" id="background_gif"  data-clipboard-text= <%= @background_gif[:original] %>>Copy Background GIF</button>
<script type="text/javascript">
var client = new ZeroClipboard( document.getElementById('background_gif') );
</script>
</div>


